
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

li {
    list-style: none; 
}

a {
    text-decoration: none; 
    color: white;
}

.nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.lo {
    padding-left: 20px;
}

.nav-links {
    display: flex;
}

.nav-links li a {
    padding: 10px 15px;
    display: block; 
}

.nav-links li a:hover {
    background-color: #555;
}

.wel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    font-size: large;
    font-weight: 600;
}