<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body data-bs-theme="dark">
    {% extends "base.html" %}
    {% block title %} 
        login 
    {% endblock %}

    {% block content %}

    <div class="d-flex justify-content-center align-items-center" style="min-height: 85vh;">
        <div class="card shadow-lg border-0 p-5" style="width: 520px; border-radius: 20px; background-color:#1f252b;">
            
            <h2 class="text-center mb-4 fw-semibold text-white">Login</h2>

            <form method="POST">

                <div class="mb-4">
                    <input type="email"
                        class="form-control form-control-lg bg-dark text-white border-secondary"
                        name="email"
                        placeholder="Email"
                        required>
                </div>

                <div class="mb-4 position-relative">
                    <input type="password"
                        class="form-control form-control-lg bg-dark text-white border-secondary"
                        name="password"
                        id="password"
                        placeholder="Password"
                        required>

                    <span onclick="togglePassword()"
                        style="position:absolute; right:15px; top:50%; transform:translateY(-50%); cursor:pointer; font-size:14px; color:#aaa;">
                        Show
                    </span>
                </div>

                <button type="submit"
                        class="btn btn-success btn-lg w-100 fw-semibold">
                    Login
                </button>

            </form>

            <p class="text-center mt-3 small text-secondary">
                Don’t have an account?
                <a href="{{ url_for('register') }}" class="text-success text-decoration-none">
                    Register
                </a>
            </p>

        </div>
    </div>




    {% endblock %}


</body>
</html>